In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
from sklearn.cluster import KMeans
import numpy as np
from sklearn import datasets, svm, metrics

In [3]:
data = pd.read_csv('dataset_group.csv')

In [4]:
X = np.array(data)

In [5]:
# If you use pandas for data handling, you can run this:
# por: Se você usa pandas para manipulação de dados, você pode executar isto:
import pandas as pd
df = pd.DataFrame(data)
df.replace([np.inf, -np.inf], np.nan)
df.info()

# The info() function will then tell you if you have any values that are non-computable.
# por: A função info () informará se você possui algum valor que não seja computável.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22342 entries, 0 to 22341
Data columns (total 3 columns):
2000-01-01    22342 non-null object
1             22342 non-null int64
yogurt        22342 non-null object
dtypes: int64(1), object(2)
memory usage: 523.7+ KB

In [6]:
data.head(10)

   2000-01-01  1         yogurt
0  2000-01-01  1           pork
1  2000-01-01  1  sandwich bags
2  2000-01-01  1     lunch meat
3  2000-01-01  1   all- purpose
4  2000-01-01  1          flour
5  2000-01-01  1           soda
6  2000-01-01  1         butter
7  2000-01-01  1     vegetables
8  2000-01-01  1           beef
9  2000-01-01  1  aluminum foil

In [7]:
data.fillna(0)

       2000-01-01     1                        yogurt
0      2000-01-01     1                          pork
1      2000-01-01     1                 sandwich bags
2      2000-01-01     1                    lunch meat
3      2000-01-01     1                  all- purpose
4      2000-01-01     1                         flour
5      2000-01-01     1                          soda
6      2000-01-01     1                        butter
7      2000-01-01     1                    vegetables
8      2000-01-01     1                          beef
9      2000-01-01     1                 aluminum foil
10     2000-01-01     1                  all- purpose
11     2000-01-01     1                  dinner rolls
12     2000-01-01     1                       shampoo
13     2000-01-01     1                  all- purpose
14     2000-01-01     1                         mixes
15     2000-01-01     1                          soap
16     2000-01-01     1             laundry detergent
17     2000-01-01     1                     ice cream
18     2000-01-01     1                  dinner rolls
19     2000-01-01     2                  toilet paper
20     2000-01-01     2                       shampoo
21     2000-01-01     2                     hand soap
22     2000-01-01     2                       waffles
23     2000-01-01     2                    vegetables
24     2000-01-01     2                       cheeses
25     2000-01-01     2                         mixes
26     2000-01-01     2                          milk
27     2000-01-01     2                 sandwich bags
28     2000-01-01     2             laundry detergent
29     2000-01-01     2  dishwashing liquid/detergent
...           ...   ...                           ...
22312  2002-02-24  1137                  paper towels
22313  2002-02-24  1137                  dinner rolls
22314  2002-02-24  1137                    vegetables
22315  2002-02-24  1137                    vegetables
22316  2002-02-24  1137                          pork
22317  2002-02-25  1138                 sandwich bags
22318  2002-02-25  1138                       ketchup
22319  2002-02-25  1138                          milk
22320  2002-02-25  1138                       poultry
22321  2002-02-25  1138                       cheeses
22322  2002-02-25  1138                          soap
22323  2002-02-25  1138                  toilet paper
22324  2002-02-25  1138                        yogurt
22325  2002-02-25  1138                          beef
22326  2002-02-25  1138                       waffles
22327  2002-02-25  1138                         sugar
22328  2002-02-25  1138               spaghetti sauce
22329  2002-02-25  1138                  all- purpose
22330  2002-02-25  1138                 sandwich bags
22331  2002-02-25  1138                  toilet paper
22332  2002-02-25  1138                          soda
22333  2002-02-25  1138                          soda
22334  2002-02-25  1138                          soda
22335  2002-02-25  1138                  paper towels
22336  2002-02-25  1138                    vegetables
22337  2002-02-26  1139                          soda
22338  2002-02-26  1139             laundry detergent
22339  2002-02-26  1139                    vegetables
22340  2002-02-26  1139                       shampoo
22341  2002-02-26  1139                    vegetables

[22342 rows x 3 columns]